.titleBox {
    width: 400px;
    height: 70px;
    padding-top: 20px;
}

.contentBox {
    width: 350px;
    height: 430px;
    margin: 0 auto;
    text-align: left;
}


.linkBox {
    width: 350px;
    height: 50px;
    margin: 10px auto;
}

.linkBox a {
    margin: 5px 20px;
    font-size: 16px;
}