/* 로고 및 헤더 관련 이미지 */

.titleBox {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 110px;
    height: 110px;
}

/* 모달 관련 스타일 */

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-in;
    visibility: hidden;
}

.modal-container.open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: white;
    width: 400px;
    height: 337px;
    margin: 150px auto;

  }

.modal-img {
    width: 400px;
    height: 317px;
}

/* .modal-title {
    width: 290px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid grey;
} */

.modal-content {
    width: 400px;
    height: 317px;
    margin: 0 auto;
}

.modal-btnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 읽은 책 리스트 관련 스타일 */

.postList {
    width: 430px;
    height: 350px;
    margin: 10px 40px 10px 0;
    text-align: left;

}

/* 작성하기 버튼 관련 스타일 *버튼으로 변경시 사용 */

.linkBox {
    width: 300px;
    text-align: center;
    height: 35px;
    border: 1px solid grey;
    margin: 20px auto;
    padding-top: 15px;
}