.new {
    width: 400px;
    height: 300px;
}

.titleBox {
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    width: 300px;
    height: 25px;
}

.contentBox {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.button {
    border: none;
    font-size: 16px;
}