/* head 스타일 */

#head {
    width: 200px;
    margin: auto;
    height: 50px;
    text-align: center;
}

/* 전체 body 스타일 */

body {
    margin: 0 auto;
    width: 500px;
    border: 1px solid grey;
}

/* nav 내부 링크 스타일  */
.linkList li {
    display: inline-block;
    margin: 0 10px;
}

/* 모든 페이지 링크 스타일 */
a {
    text-decoration: none;
    color: black;
}

/* 제목 스타일  */

.title {
    width: 300px;
    text-align: center;
    height: 70px;
    margin: 0 auto;
}

/* 내용 스타일 */

.content {
    width: 400px;
    text-align: center;
    height: 500px;
    margin: 10px auto;
}