{% extends 'post/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'post/detail.css' %}">
{% endblock css %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="contentBox">
    <div>
        <h2>제목</h2>
        <p>{{ post.title }}</p>
    </div>
    <div>
        <h2>내용</h2>
        <p>{{ post.content }}</p>
    </div>
</div>
<div class="linkBox">
    <a href="{% url 'post:home' %}">홈으로 가기</a>
    <a href="{% url 'post:edit' post.pk %}">수정하기</a>
    <a href="{% url 'post:delete' post.pk %}">삭제하기</a>
</div>
{% endblock content %}
