{% extends 'post/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'post/home.css' %}">
{% endblock css %}

{% block title %}
<h2>안녕</h2>
{% endblock title %}

{% block content %}
    <div class="postList">
        {% for post in posts %}
        <ul>
            <a href="{% url 'post:detail' post.pk %}">{{ post.title }}</a>
        </ul>
        {% endfor %}
    </div>
    <div class="link">
        <a href="{% url 'post:new' %}">글 작성하기</a>
    </div>
{% endblock content %}