{% extends 'post/base.html' %}

{% block css %}

{% endblock css %}

{% block title %}
<h2>글쓰기</h2>
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="content">내용</label>
            <textarea name="content" id="content" cols="40" rows="10"></textarea>
        </div>
        <button type="submit">작성하기</button>
    </form>
{% endblock content %}
